@import "include";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container__header {
    @include switch;

    display: flex;
    justify-content: space-evenly;
    min-width: 70px;
    background-color: white;
    align-items: center;
}

.container__header--navmenu {
    li {
        display: inline;
    }

    a {
        color: #810e05;
        text-decoration: none;
        font-size: 15px;
        padding: 10px;
        margin-right: 10px;
        transition: all 0.5s ease;

        &:hover {
            background-color: #810e05;
            border-radius: 10px;
            color: white;
        }
    }
}

.container__header--logo {
    img {
        max-width: 100px;
    }

    display: flex;
    align-content: center;
    padding: 5px;
    margin-left: 30px;
}

.peliculas {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0.2em;
    margin: 0 auto;
    width: 70%;
}

.hidden {
    display: none;
}

.post {
    text-align: center;
    width: 16em;
    transition: 0.5s;
    height: 25em;

    h3 {
        font-size: 1.2em;
    }



    .info {
        position: relative;
        bottom: 13em;
        border-radius: 10px;
        left: 0.5em;
        z-index: 3;
        color: white;
        // background: #E74C3C;
        background-color: #252525c2;
        width: 15em;
        opacity: 0;
        transform: translateY(0);
        transition: 1.0s;
        height: 10em;
        overflow: hidden;
    }

    .ver {
        transition: 1.0s;
        height: auto;
        opacity: 1;
        position: relative;
        bottom: 22.9em;
    }

    .infoExtra {
        opacity: 0;
        transition: 1.0s;
    }

    .verExtra {
        opacity: 1;
        transition: 1.0s;
    }

    img {
        width: 15em;
    }

    &:hover .info {
        opacity: 1;
        transform: translateY(5%);


    }

    &:hover {

        img {
            filter: blur(1px);
            opacity: 0.6;
            transition: 0.5s;
        }
    }

    @include buttonStyle;

}

.buscar {
    @include inputSearch;
}

.search {
    margin-right: 4em;
}

//Formulario

.opciones {
    .formulario {
        button {
            margin: 1em auto;
        }

        select {
            font-size: 1em;
            border: solid 2px rgb(0, 0, 0);
        }

    }

    input[type=radio] {
        display: none;

        &:checked+label {
            background: #4BB543;
            color: white;
            transition: 0.5s;
        }
    }

    label {
        background: white;
        color: black;
        border-radius: 0.3em;
        padding: 0.2em;
    }

    form {
        margin: 0.5em 0 0.5em 0;
    }


    .button_top:hover {
        transform: translateY(-0.33em);
    }

    .button_top:active {
        transform: translateY(0);
    }
}

.cambiarPagina {
    z-index: 3;
    text-align: center;
    background-color: #252525;
    height: auto;

    button {
        background: white;
        font-size: 1em;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;

        &:hover {
            transform: translateY(-6px);

        }
    }

    span {
        color: white;
        font-size: 2em;
        padding: 0 2em;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    .container__header {
        display: flex;
        flex-direction: column;
    }

    .post {
        width: 11em;
        height: 13em;
        bottom: 19.9em;

        img {
            width: 8em;
        }

        .ver {
            height: auto !important;
        }

        .info {
            width: 10em;
            height: 12em;
        }
    }

    .peliculas {
        width: 100.1%;
    }
}

#carrito {
    #miniposter {
        width: 25%;
        transition: 1s;

        &:hover {
            width: 100%;
        }
    }

    .top {
        display: flex;
        justify-content: space-around;
        align-items: center;

        #cerrar {
            color: white;
            font-size: 2em;
            position: relative;
            left: 3em;

            &:hover {
                color: #810e05;
            }
        }
    }

    .botones {
        text-align: center;

        button {
            font-size: 0.9em;
            border-radius: 10px;
            padding: 0.7em;
            margin: 10px;
            transition: 0.5s;

            &:hover {
                background: #810e05;
                color: white;
                transform: translateY(10%);
            }
        }
    }

    position: sticky;
    z-index: 3;
    bottom: 20em;
    margin: 2em auto;
    width: 50%;
    // height: 40em;
    background: #252525;
    border-radius: 20px;
    padding: 10px;

    h2 {
        position: relative;
        left: 6em;
        color: white;
        text-align: center;
        text-decoration: underline;
    }

    #total {
        text-decoration: none;
    }


    table {
        margin-top: 1em;
        width: 100%;
        // border: 0px solid #b3adad;
        border-collapse: collapse;
        padding: 7px;

        th {
            // border: 1px solid #b3adad;
            padding: 7px;
            background: #f0f0f0;
            color: #313030;
        }

        td {
            // border: 1px solid #b3adad;
            text-align: center;
            padding: 7px;
            background: #ffffff;
            color: #313030;

            &:first-child {
                width: 5%;
            }

            &:nth-child(2) {
                width: 30%;
            }
        }

        #eliminar {
            transition: 0.5s;

            &:hover {
                color: #810e05;
                transform: scale(1.2);
            }
        }

    }



}