* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
}

.container__header {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 70px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.container__header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.container__header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.container__header .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #dbc602;
  -webkit-transition: .4s;
  transition: .4s;
}

.container__header input:checked + .slider {
  background-color: #000000;
}

.container__header input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #000000;
          box-shadow: 0 0 1px #000000;
}

.container__header input:checked + .slider:before {
  -webkit-transform: translateX(1.5em);
          transform: translateX(1.5em);
}

.container__header .slider::after {
  width: 20px;
  height: 20px;
  left: 20%;
  top: 10%;
  border-radius: 50%;
  position: absolute;
  content: "";
  background-color: black;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.container__header input:checked + .slider::after {
  left: 80%;
  width: 0px;
  height: 0px;
}

.container__header--navmenu li {
  display: inline;
}

.container__header--navmenu a {
  color: #810e05;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container__header--navmenu a:hover {
  background-color: #810e05;
  border-radius: 10px;
  color: white;
}

.container__header--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px;
  margin-left: 30px;
}

.container__header--logo img {
  max-width: 100px;
}

.peliculas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.2em;
  margin: 0 auto;
  width: 70%;
}

.hidden {
  display: none;
}

.post {
  text-align: center;
  width: 16em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 25em;
}

.post h3 {
  font-size: 1.2em;
}

.post .info {
  position: relative;
  bottom: 13em;
  border-radius: 10px;
  left: 0.5em;
  z-index: 3;
  color: white;
  background-color: #252525c2;
  width: 15em;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.0s;
  transition: 1.0s;
  height: 10em;
  overflow: hidden;
}

.post .ver {
  -webkit-transition: 1.0s;
  transition: 1.0s;
  height: auto;
  opacity: 1;
  position: relative;
  bottom: 22.9em;
}

.post .infoExtra {
  opacity: 0;
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.post .verExtra {
  opacity: 1;
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.post img {
  width: 15em;
}

.post:hover .info {
  opacity: 1;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.post:hover img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.post button {
  /* Variables */
  margin-top: 1.5em;
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 0.7em;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.post .button_top {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.post button:hover .button_top {
  -webkit-transform: translateY(-0.33em);
          transform: translateY(-0.33em);
}

.post button:active .button_top {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.buscar .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.buscar .group .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.buscar .group .input::-webkit-input-placeholder {
  color: #9e9ea7;
}

.buscar .group .input:-ms-input-placeholder {
  color: #9e9ea7;
}

.buscar .group .input::-ms-input-placeholder {
  color: #9e9ea7;
}

.buscar .group .input::placeholder {
  color: #9e9ea7;
}

.buscar .group .input:focus, .buscar .group .input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
          box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

.buscar .group .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.buscar .group button {
  margin-top: 4px !important;
  margin-left: 15px;
}

.buscar .group button:hover {
  -webkit-transform: translateY(-0.33em);
          transform: translateY(-0.33em);
}

.buscar .group button:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.buscar .group button {
  /* Variables */
  margin-top: 1.5em;
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 0.7em;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.buscar .group .button_top {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.buscar .group button:hover .button_top {
  -webkit-transform: translateY(-0.33em);
          transform: translateY(-0.33em);
}

.buscar .group button:active .button_top {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.search {
  margin-right: 4em;
}

.opciones .formulario button {
  margin: 1em auto;
}

.opciones .formulario select {
  font-size: 1em;
  border: solid 2px black;
}

.opciones input[type=radio] {
  display: none;
}

.opciones input[type=radio]:checked + label {
  background: #4BB543;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.opciones label {
  background: white;
  color: black;
  border-radius: 0.3em;
  padding: 0.2em;
}

.opciones form {
  margin: 0.5em 0 0.5em 0;
}

.opciones .button_top:hover {
  -webkit-transform: translateY(-0.33em);
          transform: translateY(-0.33em);
}

.opciones .button_top:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cambiarPagina {
  z-index: 3;
  text-align: center;
  background-color: #252525;
  height: auto;
}

.cambiarPagina button {
  background: white;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cambiarPagina button:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.cambiarPagina span {
  color: white;
  font-size: 2em;
  padding: 0 2em;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post {
    width: 11em;
    height: 13em;
    bottom: 19.9em;
  }
  .post img {
    width: 8em;
  }
  .post .ver {
    height: auto !important;
  }
  .post .info {
    width: 10em;
    height: 12em;
  }
  .peliculas {
    width: 100.1%;
  }
}
/*# sourceMappingURL=style.css.map */